.bg-primary-hyd{
  background-color: var(--color-primary-hyd) !important;
}
.bg-primary-light-hyd{
  background-color: var(--color-primary-light-hyd) !important;
}
.bg-primary-dark-hyd{
  background-color: var(--color-primary-dark-hyd) !important;
}

.color-white{
  color: #FFFFFF;
}
