<div class="w-full px-4">
  <div class="w-full shadow-4 border-round-xl mt-4">
    <div class="w-full header bg-primary-hyd py-3 border-round-top-xl color-blanco flex justify-content-between px-4">
      <span class="text-4xl font-bold">Gestionar Egresos</span>
      <i class="pi pi-plus text-4xl cursor-pointer" (click)="showModalCrear()"></i>
    </div>
    <div class="px-4 mt-4">
      <div class="flex justify-content-between">
        <span class="text-xl font-bold">Filtros</span>
      </div>
      <form [formGroup]="filterForm" class="grid grid-nogutter mt-4 col-12">
        <div class="flex col-6 gap-4">
          <div>
            <label for="dateIni" class="mr-2">Fecha inicio</label>
            <p-calendar id="dateIni" formControlName="dateIni"></p-calendar>
          </div>
          <div>
            <label for="dateFin" class="mr-2">Fecha fin</label>
            <p-calendar id="dateFin" formControlName="dateFin"></p-calendar>
          </div>
          <div>
            <label for="producto_id" class="mr-2">Producto</label>
            <p-dropdown id="producto_id" formControlName="producto_id" [options]="productosAux" optionLabel="nombre" [filter]="true" filterBy="nombre"
              optionValue="id" placeholder="Seleccione"></p-dropdown>
          </div>
          <div>
            <label for="cliente_id" class="mr-2">Cliente</label>
            <p-dropdown id="cliente_id" formControlName="cliente_id" [options]="clientes" optionLabel="nombre" [filter]="true" filterBy="nombre"
              optionValue="cedula" placeholder="Seleccione"></p-dropdown>
          </div>
        </div>
        <div class="flex col-6 gap-4 justify-content-end">
          <button class="btn-filtros" (click)="filterForm.reset()"><span class="font-bold">Limpiar
              filtros</span></button>
          <button class="btn-filtros" (click)="filterEgreso()"><span class="font-bold">Filtrar</span></button>
        </div>
      </form>
      <div class="my-4 w-full">
        <p-table [value]="egresos" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
          [tableStyle]="{ 'min-width': '50rem' }" [style]="{width:'100%'}"
          currentPageReportTemplate="Mostrando {first} - {last} de {totalRecords}" [rowsPerPageOptions]="[10, 25, 50]">
          <ng-template pTemplate="header">
            <tr>
              <th scope="col">Producto</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Fecha</th>
              <th scope="col">Ingresado por</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-egreso>
            <tr>
              <td>{{ egreso.nombreproducto }}</td>
              <td>{{ egreso.cantidad }}</td>
              <td>{{ egreso.fecha }}</td>
              <td>{{ egreso.nombreusuario }}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr *ngIf="hasFirstFilter">
              <td [attr.colspan]="6">No hay registros</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>


<p-dialog header="Nuevo producto" [(visible)]="showModal" [modal]="true" [style]="{ width: '70vw', padding: '0px' }"
  [draggable]="false" [resizable]="false">
  <form [formGroup]="productoFilterForm" class="grid grid-nogutter mt-4 col-12">
    <div class="flex col-6 gap-4">
      <div>
        <label for="float-input" class="mr-2">Nombre</label>
        <input id="float-input" type="text" pInputText formControlName="nombre" />
      </div>
      <div>
        <label for="categoria" class="mr-2">Categoria</label>
        <p-dropdown id="categoria" formControlName="categoria_id" [options]="categorias" optionLabel="nombre" [filter]="true" filterBy="nombre"
          optionValue="id" placeholder="Seleccione"></p-dropdown>
      </div>
    </div>
    <div class="flex col-6 gap-4 justify-content-end">
      <button class="btn-filtros" (click)="filterForm.reset()"><span class="font-bold">Limpiar
          filtros</span></button>
      <button class="btn-filtros" (click)="filterProducto()"><span class="font-bold">Filtrar</span></button>
    </div>
  </form>
  <p class="text-xl font-bold mt-2">Productos</p>
  <div class="my-4 w-full">
    <p-table [value]="productos" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '50rem' }" [style]="{width:'100%'}"
      currentPageReportTemplate="Mostrando {first} - {last} de {totalRecords}">
      <ng-template pTemplate="header">
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Descripción</th>
          <th scope="col">Stock</th>
          <th scope="col">Estado</th>
          <th scope="col">Categoria</th>
          <th scope="col">Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-producto>
        <tr>
          <td>{{ producto.nombre }}</td>
          <td [style.width]="'45%'">{{ producto.descripcion }}</td>
          <td>{{ producto.cantidad }}</td>
          <td>{{ producto.estado }}</td>
          <td>{{ producto.categoria_nombre }}</td>
          <td><i class="pi pi-plus text-xl cursor-pointer color-verde" (click)="addProduct(producto)"></i></td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr *ngIf="hasFirstFilter">
          <td [attr.colspan]="6">No hay registros</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="barra"></div>
  <p class="text-xl font-bold mt-2">Egresos</p>
  <div>
    <label for="cliente_id" class="mr-2">Cliente</label>
    <p-dropdown id="cliente_id" [(ngModel)]="cliente_id" [options]="clientes" optionLabel="nombre" optionValue="cedula" [filter]="true" filterBy="nombre"
      placeholder="Seleccione"></p-dropdown>
  </div>
  <div class="my-4 w-full">
    <p-table [value]="egresosAux" [paginator]="true" [rows]="5" [totalRecords]="egresosAux.length"
      [showCurrentPageReport]="true" [tableStyle]="{ 'min-width': '50rem' }" [style]="{width:'100%'}"
      currentPageReportTemplate="Mostrando {first} - {last} de {totalRecords}">
      <ng-template pTemplate="header">
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Descripción</th>
          <th scope="col">Categoria</th>
          <th scope="col">Stock</th>
          <th scope="col">Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-egreso>
        <tr>
          <td>{{ egreso.nombre }}</td>
          <td [style.width]="'45%'">{{ egreso.descripcion }}</td>
          <td>{{ egreso.categoria }}</td>
          <td><span><i class="pi pi-minus text-sm color-secondary-dark mr-1 cursor-pointer"
                (click)="changeCantidad('-', egreso)"></i></span>{{ egreso.cantidad }}<span><i
                class="pi pi-plus text-sm color-secondary-dark ml-1 cursor-pointer"
                (click)="changeCantidad('+', egreso)"></i></span></td>
          <td><i class="pi pi-trash text-xl cursor-pointer color-rojo" (click)="removeEgreso(egreso)"></i></td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr *ngIf="hasFirstFilter">
          <td [attr.colspan]="6">No hay registros</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="mt-4 w-full text-center">
    <button class="btn-filtros px-4 py-2" [ngClass]="{'opacity-60': (egresosAux.length <= 0 || !cliente_id)}"
      (click)="saveEgreso()" [disabled]=" (egresosAux.length <= 0 || !cliente_id)"><span
        class="font-bold">Registrar</span></button>
  </div>
</p-dialog>

<p-toast></p-toast>
<p-confirmDialog #cd [style]="{width: '30vw'}">
  <ng-template pTemplate="footer">
    <button type="button" pButton icon="pi pi-times" label="Cancelar" (click)="cd.reject()"></button>
    <button type="button" pButton icon="pi pi-check" label="Confirmar" (click)="cd.accept()"></button>
  </ng-template>
</p-confirmDialog>
